<?xml version="1.0" encoding="utf-8" ?>
<menus>
  <menu name="sitemanage" menuTitle="网站常规设置" roles="SiteSettingMenu-View">
    <item name="sitesetting" itemTitle="站点信息" url="controlpanel/controlpanel.aspx?site-sitesetting" roles="SiteSettingModule-View" />
    <item name="siteemail" itemTitle="邮件配置" url="controlpanel/controlpanel.aspx?site-email" roles="EmailModule-View" />
    <item name="sitemanageshowpicture" itemTitle="展示图片" url="controlpanel/controlpanel.aspx?site-manageshowpicture" roles="SiteSettingModule-View" />
    <item name="sitedenyuser" itemTitle="用户过滤" url="controlpanel/controlpanel.aspx?site-denyuser" roles="DenyUserModule-View"/>
    <item name="sitemanagecache" itemTitle="缓存管理" url="controlpanel/controlpanel.aspx?site-managecache" roles="ManageCacheModule-View"/>
    <item name="sitetask" itemTitle="任务查看" url="controlpanel/controlpanel.aspx?site-task" roles="TaskModule-View" />
    <item name="indexmanage" itemTitle="索引管理" url="controlpanel/controlpanel.aspx?site-manageindex" roles="IndexModule-View" />
    <item name="searchwordsmanage" itemTitle="搜索管理" url="controlpanel/controlpanel.aspx?site-managesearchwords" roles="SearchWordModule-View" />
    <item name="searchbmpmanage" itemTitle="热门搜索" url="controlpanel/controlpanel.aspx?site-searchwordsbmp" roles="SearchWordModule-View" />
    <item name="sitelinkurl" itemTitle="常用链接" url="controlpanel/controlpanel.aspx?site-linkurl" roles="HHOnlineUser-View" />
  </menu>
  <menu name="userpermissionmanage" menuTitle="用户权限管理" roles="UserPermissionMenu-View">
    <item name="permissionuser" itemTitle="组织结构" url="controlpanel/controlpanel.aspx?permission-user" roles="OrganizeModule-View" />
    <item name="permissionrole" itemTitle="角色管理" url="controlpanel/controlpanel.aspx?permission-role" roles="RoleModule-View"/>
    <item name="permissionuserrole" itemTitle="角色分配" url="controlpanel/controlpanel.aspx?permission-userrole" roles="UserRoleModule-Edit"/>
  </menu>
  <menu name="newsmanage" menuTitle="资讯信息管理" roles="NewsMenu-View">
    <item name="newscategory" itemTitle="分类管理" url="controlpanel/controlpanel.aspx?news-categoryparent" roles="NewsCategoryModule-View" />
    <item name="newsarticle" itemTitle="资讯管理" url="controlpanel/controlpanel.aspx?news-article" roles="ArticleModule-View"/>
    <item name="articleattachment" itemTitle="附件管理" url="controlpanel/controlpanel.aspx?news-attachment" roles="ArticleAttachmentModule-View"/>
  </menu>
  <menu name="productmenu" menuTitle="产品相关信息" roles="ProductMenu-View">
    <item name="productcategory" itemTitle="分类管理" url="controlpanel/controlpanel.aspx?product-category" roles="ProductCategoryModule-View" />
    <item name="trademanage" itemTitle="行业管理" url="controlpanel/controlpanel.aspx?product-trade" roles="TradeModule-View"/>
    <item name="varietymanage" itemTitle="品牌管理" url="controlpanel/controlpanel.aspx?product-variety" roles="VarietyModule-View" />
    <item name="productmanage" itemTitle="产品管理" url="controlpanel/controlpanel.aspx?product-product" roles="ProductModule-View"/>
    <item name="focusmanage" itemTitle="分类栏目" url="controlpanel/controlpanel.aspx?product-productfocus" roles="ProductModule-View"/>
  </menu>
  <menu name="companyusermanage" menuTitle="企业客户管理" roles="CompanyUserMenu-View">
    <item name="userlicence" itemTitle="注册协议" url="controlpanel/controlpanel.aspx?users-userlicence" roles="UserLicenceModule-Edit"/>
    <item name="companyuser" itemTitle="客户管理" url="controlpanel/controlpanel.aspx?users-corps" roles="CorpUserModule-View"/>
    <item name="companyuserpend" itemTitle="客户变更" url="controlpanel/controlpanel.aspx?users-pendinglist" roles="CorpUserModule-View"/>
  </menu>
</menus>