<?xml version="1.0" encoding="utf-8"?>

<HHOnline>
  <!--
  defaultTheme:默认皮肤
  defaultLanguage:默认语言
  cacheFactor:缓存因子 可改变缓存时间
  disableEmail:是否启用Email发送
  encryptSalt:加密Salt(16位)
  encryptKey:普通加密密钥(16位)
  -->
  <Core
    defaultTheme=""
    defaultLanguage="zh-CN"
    cacheFactor="5"
    enableEmail="true"
    encryptSalt="HHOnline!@#pwden"
    encryptKey="yghj234bash3rtoi"
    encryptType="SHA1"
    cookiePrefix="HHOnline_Cookie_"
    virtualPath="~/"
    compressJs="false"
    compressCss="false"
    fileStorePath="~/FileStore"
    />
  <!-- 定时任务处理-->
  <Tasks>
    <Modules>
      <add name="TaskLogModule" type="HHOnline.Framework.Web.TaskModules.TaskLogModule,HHOnline.Framework.Web"/>
    </Modules>
    <Threads>
      <Thread minutes="1">
        <task name = "TagCleanup" type = "HHOnline.Framework.Web.Tasks.TagCleanupJob,HHOnline.Framework.Web"
                  enabled = "true" enableShutDown = "false"  />
        <task name = "Views" type = "HHOnline.Framework.Web.Tasks.ViewsJob,HHOnline.Framework.Web"
               enabled = "true" enableShutDown = "false"  />
      </Thread>
    </Threads>
  </Tasks>

  <!--价格策略-->
  <GradeStrategy>
    <add name="BrandID" text="品牌名称" type="HHOnline.Shops.BrandStrategy,HHOnline.Shops"/>
    <add name="CategoryID" text="产品分类" type="HHOnline.Shops.CategoryStrategy,HHOnline.Shops"/>
    <add name="IndustryID" text="行业名称" type="HHOnline.Shops.IndustryStrategy,HHOnline.Shops"/>
    <add name="p.ProductID" text="产品名称" type="HHOnline.Shops.ProductStrategy,HHOnline.Shops"/>
    <add name="pr.SupplyRegion" text="代理区域" type="HHOnline.Framework.RegionStrategy,HHOnline.Framework"/>
  </GradeStrategy>

  <!--全局事件处理-->
  <GlobalApplication>
    <add name="GloablActivity" type="HHOnline.Framework.Web.EventHandlers.GlobalActivity,HHOnline.Framework.Web"/>
  </GlobalApplication>

</HHOnline>
