<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="urlRewrite" type="HHOnline.Framework.Web.UrlRewrite.UrlRewriteHandler,HHOnline.Framework.Web"/>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data"/>
    <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching"/>
  </configSections>
  <appSettings/>
  <dataConfiguration defaultDatabase="HHConnectionString"/>
  <connectionStrings configSource="ConnectionStrings.config"/>
  <cachingConfiguration defaultCacheManager="HHCache">
    <cacheManagers>
      <add name="HHCache" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching" expirationPollFrequencyInSeconds="120" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="Null Storage"/>
    </cacheManagers>
    <backingStores>
      <add name="Null Storage" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching"/>
    </backingStores>
  </cachingConfiguration>
  <urlRewrite>
    <!--
        name作为cache键值使用，必须唯一！
        **以下所有属性都是必须的
        url目录必须是由相对于根目录开始(无需以'\'开始)
        正则表达式编写过程中注意对 '.','?'等特殊字符进行转义
    -->
    <rewrite name="controlPanel" virtualUrl="controlpanel/controlpanel\.aspx\?(\w+)\-(\w+)&amp;*(\w+)*" destinationUrl="~/controlpanel/$1/$2.aspx?$3" ignoreCase="true"/>
    <rewrite name="pages" virtualUrl="pages/view\.aspx\?(\w+)\-(\w+)&amp;*(\w+)*" destinationUrl="~/pages/$1/$2.aspx?$3" ignoreCase="true"/>
    <rewrite name="productinfo" virtualUrl="product/and\-([\w-]+)\-(\d{4})\-(\d{2})\-(\d{2})\.htm" destinationUrl="~/product/productinfo.aspx?id=$1" ignoreCase="true"/>
  </urlRewrite>
  <system.web>
    <anonymousIdentification enabled="true"/>
    <profile defaultProvider="HHProfileProvider" inherits="HHOnline.Security.HHOnlineProfile" automaticSaveEnabled="false" enabled="true">
      <providers>
        <clear/>
        <add name="HHProfileProvider" type="HHOnline.Security.HHProfileProvider,HHOnline.Security" applicationName="HHProfileProvider"/>
      </providers>
      <!--properties>
        <add name="ShoppingCart" type="HHOnline.Shops.ShoppingCart" provider="HHProfileProvider" allowAnonymous="true" serializeAs="Binary"/>
        <add name="AccountInfo" type="HHOnline.Framework.User" provider="HHProfileProvider" allowAnonymous="true" serializeAs="Binary"/>
      </properties-->
    </profile>
    <membership defaultProvider="HHMembershipProvider">
      <providers>
        <clear/>
        <add name="HHMembershipProvider" type="HHOnline.Security.HHMembershipProvider,HHOnline.Security" enablePasswordRetrieval="false" enablePasswordReset="true" requiresUniqueEmail="true" requiresQuestionAndAnswer="true" minRequiredPasswordLength="7" applicationName="HHMembershipProvider" hashAlgorithmType="SHA1" passwordFormat="Hashed"/>
      </providers>
    </membership>
    <compilation debug="true">
    </compilation>
    <authentication mode="Forms">
      <forms timeout="30" slidingExpiration="true" loginUrl="~/login.aspx" defaultUrl="~/main.aspx"></forms>
    </authentication>
    <!--<httpCookies domain="http://www.ehuaho.com" httpOnlyCookies="true"/>-->
    <httpModules>
      <add name="UrlRewrite" type="HHOnline.Framework.Web.HttpModules.UrlRewrite, HHOnline.FrameWork.Web"/>
      <add name="CompressModule" type="HHOnline.Framework.Web.HttpModules.CompressModule, HHOnline.FrameWork.Web"/>
    </httpModules>
    <httpHandlers>
      <add verb="*" path="upload.axd" type="HHOnline.Framework.Web.HttpHandlers.UploadHandler,HHOnline.FrameWork.Web" validate="false"/>
      <add verb="*" path="sitemap.axd" type="HHOnline.Framework.Web.HttpHandlers.SiteMapHandler,HHOnline.FrameWork.Web" validate="false"/>
      <add verb="*" path="product.axd" type="HHOnline.Framework.Web.HttpHandlers.ProductHandler,HHOnline.FrameWork.Web" validate="false"/>
      <add verb="*" path="ads.axd" type="HHOnline.Framework.Web.HttpHandlers.AdHandler,HHOnline.FrameWork.Web" validate="false"/>
      <add verb="*" path="updatepicture.axd" type="HHOnline.Framework.Web.HttpHandlers.UpdatePictureHandler,HHOnline.FrameWork.Web" validate="false"/>
      <add verb="*" path="validcode.axd" type="HHOnline.Framework.Web.HttpHandlers.ValidCode,HHOnline.FrameWork.Web" validate="false"/>
      <add verb="*" path="jscss.axd" type="HHOnline.Framework.Web.HttpHandlers.JsCssHandler,HHOnline.FrameWork.Web" validate="false"/>
      <add verb="*" path="article.axd" type="HHOnline.Framework.Web.HttpHandlers.ArticleHandler,HHOnline.FrameWork.Web" validate="false"/>
      <add verb="*" path="organize.axd" type="HHOnline.Framework.Web.HttpHandlers.OrganizeHandler,HHOnline.FrameWork.Web" validate="false"/>
      <add verb="*" path="productcategory.axd" type="HHOnline.Framework.Web.HttpHandlers.ProductCategoryHandler,HHOnline.FrameWork.Web" validate="false"/>
      <add verb="GET" path="attachment.axd" type="HHOnline.Framework.Web.HttpHandlers.FileSystemStorageHttpHandler,HHOnline.FrameWork.Web"/>
      <add verb="GET" path="image.axd" type="HHOnline.Framework.Web.HttpHandlers.ImageFileResizerHttpHandler,HHOnline.FrameWork.Web"/>
    </httpHandlers>
    <customErrors mode="Off">
      <error statusCode="404" redirect="~/Pages/Messages/404Notfound.aspx"/>
    </customErrors>
    <pages theme="GlobalSkin" validateRequest="false">
      <controls>
        <add tagPrefix="hc" namespace="HHOnline.Controls" assembly="HHOnline.Controls"/>
        <add tagPrefix="huc" tagName="Header" src="~/UserControls/Header.ascx"/>
        <add tagPrefix="huc" tagName="Search" src="~/UserControls/Search.ascx"/>
		    <add tagPrefix="huc" tagName="ArticleSearch" src="~/UserControls/ArticleSearch.ascx"/>
		    <add tagPrefix="huc" tagName="CategoryList" src="~/UserControls/ArticleCategoryList.ascx"/>
        <add tagPrefix="huc" tagName="ArticleCategoryCombo" src="~/UserControls/ArticleCategoryCombo.ascx"/>
        <add tagPrefix="huc" tagName="Footer" src="~/UserControls/Footer.ascx"/>
        <add tagPrefix="huc" tagName="UCProductList" src="~/UserControls/UCProductList.ascx"/>
      </controls>
    </pages>
    <httpRuntime maxRequestLength="2097151" executionTimeout="6000" />
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" responseHeaderEncoding="utf-8"/>
  </system.web>
  <system.codedom>
  </system.codedom>
  <system.webServer>
  </system.webServer>
</configuration>
