<?xml version="1.0" encoding="utf-8" ?>
<menus>
  <menu name="profiles" menuTitle="个人相关设置" roles="All">
    <item name="dashboard" itemTitle="个人信息" url="pages/view.aspx?profiles-dashboard" roles="All" />
    <item name="companyprofile" itemTitle="公司信息" url="pages/view.aspx?profiles-companyprofile" roles="All" />
    <item name="companytypeview" itemTitle="公司类型" url="pages/view.aspx?profiles-companytypeview" roles="Manager" />
    <item name="companyusers" itemTitle="成员管理" url="pages/view.aspx?profiles-companyusers" roles="Manager" />
  </menu>
  <menu name="favcars" menuTitle="我的购物信息" roles="All">
    <item name="favlist" itemTitle="收藏夹" url="pages/view.aspx?profiles-favlist" roles="All" />
  </menu>
</menus>